@media(min-width:138px){


  .logo-banner,
  .page-title {
    display: flex;
    background-color: #FFFEFE;
    justify-content: center;
  }

  
  .page-title,
  .hello-user,
  .item,
  .sub-total-price,
  .tax-price,
  .tip-price,
  .TOTAL-price {
    background-color: #EAE5E5;
  }

  .hello-user {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
  }

  .item,
  .hello-user,
  .sub-total-price,
  .tax-price,
  .tip-price,
  .TOTAL-price {
    display: flex;
    justify-content: space-between;
  }

  .dropped-user-icon-bar {
    display: flex;
  }

  .user-icons {
    display: flex;
  }

  .bottom_nav {
    background-color: #FFFEFE;
    height: 100px;
    width: 100%;
    padding: 10px;
    position: fixed;
    bottom: 0;
    margin: 0;
  }

  .split-pay-button {
    justify-content: center;
    display: flex;
  }

  button {
    justify-content: center;
    background-color: #FF473A;
    box-shadow: 2px 5px 18px #88888888;
    border: none;
    width: 300px;
    height: 50px;
  }
   
}