<div id="login_page">  

    <div class="login-text">LET'S <br>GO <br> SPLIT</div>  
      <br><br><br>

    <div class="forgot-password">Forgot your password?</div>
      <br><br>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email address", class:"email" %>
        <br><br>

        <%= f.submit "Reset password", class:"password_rs" %>    
    <% end %>
    <br><br><br><br>
   <%= render "devise/shared/links" %>
</div>
