<div id="login_page">  

    <div class="logo"><h2 class="logo_text">Split</h2></div>

    <div class="forgot-password">Forgot your password?</div>
      <br><br>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email address", class:"email" %>
        <br><br>

        <%= f.submit "Reset Password", class:"btn3" %>    
    <% end %>
    <br><br><br>
   <%= render "devise/shared/links" %>
</div>
