<h1>Bills#index</h1>
<p>Find me in app/views/bills/index.html.erb</p>




<% @users.each do |user| %>
<%= user.first_name %> <%= user.last_name %> <br>
<% end %>


<% @bills.each do |bill| %>

    <%bill.users.each do |user|%>
        <%=user.first_name%>
    <% end %>

    <%bill.items.each do |item| %>
        <%=item.name%>
    <% end %><br>

<% end %>



