<h1>Bills#show</h1>
<p>Find me in app/views/bills/show.html.erb</p>

<h2>Bill Owner </h2> <br />
  <% @bill.users.each do |user| %>
    <%=user.first_name.capitalize%><br/><br/>
  <% end %>
  
<% totalprice = 0%>
<% @items.each do |item| %>
  Items: 
  <%= item.name %> <br>
  Price_I_Pay $<%=item.price/(item.bills.length)%><br>
<%  totalprice += item.price/(item.bills.length) %>
<% end %>
  TOTAL: $<%=totalprice%>





