<h1>Photo#new</h1>
<p>Find me in app/views/photo/new.html.erb</p>
<!--
    <div id="bill_page">
    <div class="logo-banner">
          <h1 ></h1>
        </div>
      <div class="container-landing-page">
        <section class="page-title">
        <h1>LET'S <br> GO <br> SPLIT</h1>  
        <br><br>
             
        </section>
        <section>email</section> 
        <section class="#">password</section> 
      </div> 
    </div> 
-->