.item{
    border: 2px solid black;
    display: inline-block;
    width: 98%;
    /* height: 100%; */
}

.items_users{
    border: 1px solid black;
    z-index: 2;
    height: 100%;
    padding: 10px;
    position: relative;
}

.user{
    border:2px solid black;
    padding: 10px;
    display: inline-block;
    margin: 20px;
    border-radius: 1000px;
    font-size:10px;
}



.users_container{
    font-size:10px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.split-bill-container{
    height: 500px;
    overflow-y: scroll;

}