// Place all the styles related to the devise controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.actions{
    text-align: center;
}

.inline{
  display: inline-block;
}

#inline{
  display: inline-block;
}

#user_remember_me{
  display: inline-block;
}

.field-style{
  width: 70%;
  padding: 30px 30px;
  margin-left: 15%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 150%;
  box-sizing: border-box;
  }

#login_page{

  background-image: url('/assets/background_photo.jpg');
  background-position: -250px 0px;
  height:1000px;

  .login-text{
    color: #FF473A;
    font-size: 37px;
    font-stretch: expanded;
    line-height: 2;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align:center;
}

#align-remember{
  text-align: center;

}

.login_form{
  color:red;
  text-align: center;
}

}
#sign_up_page{

    background-image: url('/assets/background_photo.jpg');
    background-position: -160px 0px;

    .page-title{
        background-color: none;
        text-align: center;
    }

    #inline{
      display: inline-block;
    }

    

    .login-text{
        color: #FF473A;
        font-size: 37px;
        font-stretch: expanded;
        line-height: 2;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }

    .page-picture {
        display: flex;
        background-color: #FFFEFE;
        height: 35%;
      }
    
     
    
    
      .hello-user,
      .item,
      .sub-total-price,
      .tax-price,
      .tip-price,
      .TOTAL-price {
        background-color: #EAE5E5;
      }
    
      .hello-user {
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        letter-spacing: 2px;
      }
    
      .item,
      .hello-user,
      .sub-total-price,
      .tax-price,
      .tip-price,
      .TOTAL-price {  
      display: flex;
      justify-content: space-between;
      }
    
      .dropped-user-icon-bar {
        display: flex;
      }
      .user-icons {
        display: flex;
      }
      .bottom_nav {
        background-color: #FFFEFE;
        height: 18%;
        width: 100%;
        padding: 6px;
        position: fixed;
        margin: 0;
      }
      .split-pay-button {
        justify-content: center;
        display: flex;
      }
      button {
        justify-content: center;
        background-color: #FF473A;
        box-shadow: 2px 5px 18px #88888888;
        border: none;
        width: 300px;
        height: 40px;
        bottom: 0;
      }
    
    #login-text{
      color: #FF473A;
      font-size: 30px;
      font-stretch: expanded;
      line-height: 2;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      
    }
    .field-style{
    width: 70%;
    padding: 30px 30px;
    margin-left: 15%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 150%;
    box-sizing: border-box;
    }
    
    .update-style{
      width: 70%;
      padding: 18px 18px;
      margin-left: 15%;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 150%;
      box-sizing: border-box;
      }
    
    .login {
    color: white; 
    background-color: #FF473A;
    width: 70%;
    padding: 30px 30px;
    margin-left: 15%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 30px;
    box-sizing: border-box;
    text-align: center;
    margin-left: 10px;
    text-align:center;
    }

    .login-half {
      color: white; 
      background-color: #FF473A;
      width: 35%;
      padding: 12px 20px;
      margin-left: 15%;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      }
    #align-password{
      text-align: right;
      padding-right: 20px;
      font-size: 150%;
      color: white;
    }
    #align-remember{
      text-align: left;
      padding-right: 20px;
      font-size: 150%;
      color: white;
      display: inline-block;
    }
    #forgot-password {
      text-align: center;
    }

    
}
