// Place all the styles related to the devise controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.actions{
    text-align: center;
}

.inline{
  display: inline-block;
}

#inline{
  display: inline-block;
}

#user_remember_me{
  display: inline-block;
}

.field-style{
  width: 28%;
  padding: 15px 30px;
  margin-left: 4%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 14px;
  font-size: 110%;
  box-sizing: border-box;
  }

#login_page{

  background-image: url(asset_path('background_photo.jpg'));
  background-position: -90px 0px;
  height:1000px;
  width: 100%;
  font-family: 'Roboto', sans-serif;

  .login-text{
    color: #FF473A;
    font-size: 37px;
    font-stretch: expanded;
    line-height: 2;
    
    font-weight: 700;
    text-align:center;
  }

  .logo {
    font-family: 'Playfair Display', serif;
    color:  #FF473A;
    margin-left: 40%;
    padding: 5% 0;
  }
  

  .login_position{
    margin-left: -211px;
  }

#align-remember{
  text-align: center;
  }

.login_form{
  color:red;
  text-align: center;
  }

  .login {
    color: white; 
    background-color: #FF473A;
    padding: 10px 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
    box-sizing: border-box;
    text-align: center;
    margin-left: -3%;
    text-decoration: none;
    }

    .helper{
     align-content: center;
    }
    .btn3 {
      color: white; 
      background-color: #FF473A;
      padding: 10px 5%;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-size: 18px;
      box-sizing: border-box;
      text-align: center;
      margin-left: 39%;
      text-decoration: none;
      }

    .forgot-password{
      text-align: center;
      color:blue;
      font-size: 25px;
    }

    .password_rs {
      color: white; 
      background-color: #FF473A;
      width: 28%;
      padding: 9px 5px;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-size: 18px;
      margin-left: 36%;
      display: inline-block;
      text-align:center;
      text-decoration: none;
      }

    .email{
      width: 30%;
      padding: 15px 0px;
      margin-left: 35%;
      border: 1px solid #ccc;
      border-radius: 14px;
      font-size: 100%;
      box-sizing: border-box;
      text-align: center;
      text-decoration: none;
      color: white;
      }

      .email2{
        padding: 15px 30px;
        margin-left: 38%;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 14px;
        font-size: 110%;
        box-sizing: border-box;
        text-align: center;
        text-decoration: none;
        color: white;
        background-color: #FF473A;
        }

        .btn2{
          width: 28%;
          padding: 15px 30px;
          margin-left: 4%;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 14px;
          font-size: 110%;
          box-sizing: border-box;
          text-align: center;
          text-decoration: none;
          color: white;
          background-color: #FF473A;
          }

          .btn_x{
              color: white; 
              background-color: #FF473A;
              padding: 10px 8%;
              border: 1px solid #ccc;
              border-radius: 10px;
              font-size: 18px;
              box-sizing: border-box;
              text-align: center;
              margin-left: 39%;
              text-decoration: none;
              }

      .login2 {
        color: white; 
        background-color: #FF473A;
        width: 18%;
        padding: 10px 5%;
        margin-left: 40%;
        border: 1px solid #ccc;
        border-radius: 10px;
        font-size: 18px;
        text-align:center;
        text-decoration: none;
        }
  

}
#sign_up_page{

    background-image: url(asset_path('background_photo.jpg'));
    background-position: -160px 0px;
    background-size: cover;
    width: 118%;
    

    #banner .logo {
      font-family: 'Playfair Display', serif;
      font-size: 2em;
      padding-top: 15px;
      padding-bottom: 0;
      letter-spacing: 2.5px;
      margin-bottom: -48px;
      margin-top: -71px;
    
    }

    #forgot-password{
      text-align: center;
      color: white;
      text-shadow: .5px 1px black;
      margin-left: -10%;
    }

    .content{
      text-align: center;
      color: blue;
      font-size: 20px;
      font-weight: bold;
      margin-left: -13%
    }
    .page-title{
        background-color: none;
        text-align: center;
    }

    #inline{
      display: inline-block;
    }


    .page-picture {
        display: flex;
        background-color: #FFFEFE;
        height: 35%;
        width: 100%;
      }
  
    
      .hello-user,
      .item,
      .sub-total-price,
      .tax-price,
      .tip-price,
      .TOTAL-price {
        background-color: #EAE5E5;
      }
    
      .hello-user {
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        letter-spacing: 2px;
      }
    
      .item,
      .hello-user,
      .sub-total-price,
      .tax-price,
      .tip-price,
      .TOTAL-price {  
      display: flex;
      justify-content: space-between;
      }
    
      .dropped-user-icon-bar {
        display: flex;
      }
      .user-icons {
        display: flex;
      }
      .bottom_nav {
        background-color: #FFFEFE;
        height: 18%;
        width: 100%;
        padding: 6px;
        position: fixed;
        margin: 0;
      }
      .split-pay-button {
        justify-content: center;
        display: flex;
      }
      button {
        justify-content: center;
        background-color: #FF473A;
        box-shadow: 2px 5px 18px #88888888;
        border: none;
        width: 300px;
        height: 40px;
        bottom: 0;
      }
    
    #login-text{
      color: #FF473A;
      font-size: 30px;
      font-stretch: expanded;
      line-height: 2;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      
    }
    .field-style{
      width: 30%;
      margin-left: 28%;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 14px;
      font-size: 110%;
      }
    
    .login {
      color: white; 
      background-color: #FF473A;
      width: 22%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-size: 18px;
      text-align: center;
      text-decoration: none;
      margin-left: 32%;
      }

      

      .login2 {
        color: white; 
        background-color: #FF473A;
        width: 22%;
        padding: 10px 9%;
        margin-left: 39%;
        border: 1px solid #ccc;
        border-radius: 10px;
        font-size: 18px;
        text-align:center;
        text-decoration: none;
        }
  
    .update-style{
      width: 70%;
      padding: 18px 18px;
      margin-left: 15%;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 150%;
      box-sizing: border-box;
      }
    
    

    .login-half {
      color: white; 
      background-color: #FF473A;
      width: 35%;
      padding: 12px 20px;
      margin-left: 15%;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      }
    #align-password{
      text-align: right;
      padding-right: 20px;
      font-size: 150%;
      color: white;
    }
    // #align-remember{
    //   text-align: left;
    //   padding-right: 20px;
    //   font-size: 150%;
    //   color: white;
    //   display: inline-block;
    // }
    
    

    
}
