// Place all the styles related to the Group_bill controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#group_bill_page{
    margin: 0;
    background-color: #EAE5E5;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1.1em;
    line-height: 1.5;
    margin: -7px;
    margin-top: 2px;
    padding-top: 1px;

  .group_bill_info{
    text-align: center;
  }

  .item{
    display: inline-block;
    width: 100%;
}

.items_users{
  border-bottom: 1px solid black;
  padding-top: 3px;
  padding-left: 10px;
  z-index: 2;
  width: 98%;
  position: relative;
}

.item_price{
  position: relative;
  float: right;
  padding-right: 10px;
}

.item_name{
  position: relative;
  float: left;
}

.users_container{
  font-size:10px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  text-align: center;
}

.user{
  border:2px solid black;
  padding: 10px;
  display: inline-block;
  margin: 20px;
  border-radius: 1000px;
  font-size:10px;
}

.totals_container{
  text-align: center;
  font-size:10px;
  margin-bottom: -25px;
}

#array_of_data{
  display:none;
}

.friends_container{
  text-align: center;
  margin-top: -22px;
}

.total{
  font-size:20px;
}

.split_button{
    color: white;
    background-color: #FF473A;
    width: 50%;
    margin-left: 15%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 150%;
    box-sizing: border-box;
    position: relative;
    right: 32px;
    padding: 10px;
    }

  }

  // .user {
//   font-size:10px;
//   height: 25px;
//   width: 25px;
//   background-color: #bbb;
//   border-radius: 50%;
//   display: inline-block;
// }
   
  // h2 {
  //   margin: 0;
  //   padding: 1em 0;
  // }
  
  // p {
  //   margin: 0;
  //   padding: 1em 0;
  // }
  
  // .btn-circle {
  //   height: 25px;
  //   width: 25px;
  //   background-color: lightgray;
  //   border-radius: 50%;
  //   display: inline-block;
  // }
  
  // .btn-big-circle {
  //   height: 50px;
  //   width: 50px;
  //   background-color: lightgray;
  //   border-radius: 50%;
  //   display: inline-block;
  // }
  
  // .btn {
  //   display: inline-block;
  //   background-color: #FF473A;
  //   color: white;
  //   text-decoration: none;
  //   padding: 1em 2em;
  //   margin: 0.5em 0;
  //   box-shadow: 2px 5px 18px #88888888;
  //   width: 200px;
  // }
  
  // #banner {
  //   min-height: 60px;
  //   background-color: white;
  //   color: #FF473A;
  //   text-align: center;
  // }
  
  // #banner .logo {
  //   font-family: 'Playfair Display', serif;
  //   font-size: 2em;
  //   padding-top: 15px;
  //   padding-bottom: 0;
  //   letter-spacing: 2.5px;
  
  // }
  
  // #section-b {
  //   padding: 2em 1em 1em;
  // }
  
  // #section-b .item-users .flex {
  //   display: flex;
  //   justify-content: space-between;
  // }
  
  // #section-d {
  //   padding: 2em 2em;
  // }
  
  // #section-d .sub-total-price {
  //   border-top: 1px solid black;
  // }
  
  // #section-d .sub-total-price,
  // .tax-price,
  // .tip-price,
  // .TOTAL-price {
  //   display: flex;
  //   justify-content: space-between;
  // }
  
  // #section-d .TOTAL-price {
  //   border-top: 1px solid black;
  //   border-bottom: 1px solid black;
  // }
  
  // #section-e {
  //   padding: 2em 2em; 
  // }
  
  // #section-e .add-user-icons-to-bill {
  //   display: flex;
  // }
  
  // #main-footer {
  //   min-height: 70px;
  //   background-color: white;
  //   text-align: center;
  // }
  
  // @media (min-width: 700px) {
    
  // }
  
