// Place all the styles related to the Guests_bill controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    
}
.cameraPageContainer {
  text-align:center;
  font-size:22px;
}

.receipt{
  margin-left: 60px;
}
.uploadImageTitle {
  font-family: Ariel;
  font-size:46px;
}
.cameraIcon {
  margin-top:20px;
}
.fas {
  color:orange;
}
.uploadBillForm {


}
.eventName {

}
.receipt {

}
.submitButton {
  font-size: 20px;
    box-shadow: 1px 1px;
    border-radius: 10px;
    width: 158px;
    height: 40px;
}

#file_button {
  // font-size: 20px;
    // box-shadow: 1px 1px;
    // border-radius: 10px;
    // width: 158px;
    height: 40px;
}
