// Place all the styles related to the Guests_bill controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    
}
.cameraPageContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top:20px;
}
.uploadImageTitle {
  font-family: Ariel;
  font-size:46px;
}
.cameraIcon {
  margin-top:20px;
}
.fas {
  color:orange;
}
.uploadBillForm {
  margin:10px;
  font-size:22px;
  padding:10px;
  align-content: center;
  justify-content: center;
  display: flex;

}
.eventName {
  margin:24px;
  text-align: left;
}
.receipt {
    margin:24px;
    text-align:  left;
}
.submitButton {
  font-size: 20px;
    box-shadow: 1px 1px;
    border-radius: 10px;
    width: 158px;
    height: 40px;
}

#file_button {
  font-size: 20px;
    box-shadow: 1px 1px;
    border-radius: 10px;
    width: 158px;
    height: 40px;
}


.loader {
  font-size: 0;
  border-radius: 60%;
  border-top: 16px solid #ff473a;
  border-right: 14px solid white;
  border-bottom: 14px solid #ff473a;
  border-left: 16px solid white;
  width: 80px;
  height: 80px;
  animation: spin 2.2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
