// Place all the styles related to the Item controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bill_page {
  @media(min-width:138px){
    .container {
     overflow: scroll;
     height: 350px;
    }
    .logo-banner,
    .page-title {
      display: flex;
      background-color: #FFFEFE;
      justify-content: center;
    }
    .page-title,
    .hello-user,
    .item,
    .sub-total-price,
    .tax-price,
    .tip-price,
    .TOTAL-price {
      display: flex;
      background-color: #EAE5E5;
    }
    .dropped-user-icon-bar {
      display: flex;
    }
    .hello-user {
      font-family: 'Roboto', sans-serif;
      font-size: 10px;
      letter-spacing: 2px;
    }
    button {
      justify-content: center;
      background-color: #FF473A;
      box-shadow: 2px 5px 18px #88888888;
      border: none;
      bottom: 0;
      width: 300px;
      height: 50px;
    }
    .item,
    .hello-user,
    .sub-total-price,
    .tax-price,
    .tip-price,
    .TOTAL-price {
      justify-content: space-between;
    }
    .user-icons {
      display: flex;
    }
    .bottom_nav {
      background-color: #FFFEFE;
      height: 100px;
      width: 100%;
      padding: 10px;
      position: fixed;
      margin: 0;
    }
    .split-pay-button {
      justify-content: center;
      display: flex;
    }   
  }
}