// Place all the styles related to the Item controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// #bill_page {
// @media(min-width:138px){
//  .container {
//    height:300px; 
//    overflow: scroll;
//  }
//  .container-landing-page {
//   height:400px; 
//   background-color: #EAE5E5;
//   overflow: scroll;
// }
//   .logo-banner,
//   .page-title {
//     display: flex;
//     background-color: #FFFEFE;
//     justify-content: center;
//   }
//   .page-picture {
//     display: flex;
//     background-color: #FFFEFE;
//     height: 400px;
//   }
  
//   .logo-banner{
//     background-image: image-url('Untitled-3.svg');
//     background-repeat: no-repeat;
//     margin-left: 40%;
//   }
// }
  
//   .page-title,
//   .hello-user,
//   .item,
//   .sub-total-price,
//   .tax-price,
//   .tip-price,
//   .TOTAL-price {
//     background-color: #EAE5E5;
//   }
//   .hello-user {
//     font-family: 'Roboto', sans-serif;
//     font-size: 10px;
//     letter-spacing: 2px;
//   }

//   .item,
//   .hello-user,
//   .sub-total-price,
//   .tax-price,
//   .tip-price,
//   .TOTAL-price {
//     display: flex;
//     justify-content: space-between;
//   }
//   .dropped-user-icon-bar {
//     display: flex;
//   }
//   .user-icons {
//     display: flex;
//   }
//   .bottom_nav {
//     background-color: #FFFEFE;
//     height: 100px;
//     width: 100%;
//     padding: 10px;
//     position: fixed;
//     margin: 0;
//   }
//   .split-pay-button {
//     justify-content: center;
//     display: flex;
//   }
//   button {
//     justify-content: center;
//     background-color: #FF473A;
//     box-shadow: 2px 5px 18px #88888888;
//     border: none;
//     width: 300px;
//     height: 50px;
//     bottom: 0;
//   }

//   #login-text{
//     color: #FF473A;
//     font-size: 26px;
//     padding: 18px;
//     line-height: 1.6;
//     font-family: 'Roboto', sans-serif;
//     font-weight: 450;
//   }
//   .field-style{
//   width: 70%;
//   padding: 12px 20px;
//   margin-left: 15%;
//   display: inline-block;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   box-sizing: border-box;
//   }

//   .login {
//   color: white; 
//   background-color: #FF473A;
//   width: 70%;
//   padding: 12px 20px;
//   margin-left: 15%;
//   display: inline-block;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   box-sizing: border-box;
//   }
//   .login-half {
//     color: white; 
//     background-color: #FF473A;
//     width: 35%;
//     padding: 12px 20px;
//     margin-left: 15%;
//     display: inline-block;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//     box-sizing: border-box;
//     }
//   #align-password{
//     text-align: right;
//     padding-right: 20px;
//   }
//   #forgot-password {
//     text-align: center;
//   }
  
// }

.item{
    border: 2px solid black;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.items_users{
    border: 1px solid black;
    z-index: 2;
    height: 100%;
    padding: 10px;
    position: relative;
}

.user{
    border:2px solid black;
    padding: 20px;
    display: inline-block;
    margin: 20px;
    border-radius: 100px;
}


