// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#profile-page { 

  .superContainer {
    // height:300px; 
   overflow: scroll;
  }

  .button_profile_container {
    color: white;
    background-color: #FF473A;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 90%;
    text-decoration: none;
    }

    .my_bill_link {
      color: white;
      background-color: #FF473A;
      width: 18%;
      padding: 10px 10px;
      margin-right: 10px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 90%;
      right: -75%;
      }

.profile{
  text-align: center;
  margin-top: -11px;
}

.profile_text{
  color: black;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 10;
}

  .logo-banner,
  .page-title {
    display: flex;
    justify-content: center;
  }
  .page-picture {
    display: flex;
    height: 35%;
  }

  .logo-banner{
    background-image: image-url('Untitled-3.svg');
    background-repeat: no-repeat;
    margin-left: 40%;
  
    height: 9%;
  }

  .personName {
    text-align: center;
  }
  
  .editButton {
    text-align: center;
  }
  .bio {
    text-align: justify;
  }
  button {
      background-color: #FF473A;
      width: 100%;
      height: 50px;
      box-shadow: 2px 5px 18px #88888888;
      border: none;
      padding-left: 40px;
      margin: 5px;
    }
  #menuButton {
    background-color:#EAE5E5;
    width: 100%;
    height: 130px;
    box-shadow: 2px 5px 18px #88888888;
    border: none;
    padding-left: 40px;
  }
  .personName {
    color: black;
    font-weight:bold;
    font-size: 22px;
  }

  .check {
    color: black;
    font-size: 15px;
    font-family: Arial;
    margin-top: -22px;
  }
  
  
  .login {
    color: white; 
    background-color: #FF473A;
    width: 18%;
    padding: 10px 10px;
    // margin-left: 1%;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 90%;
    box-sizing: border-box;
    }


  .logout {
    color: white; 
    background-color: #FF473A;
    width: 18%;
    padding: 10px 10px;
    margin-right: 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 90%;
    box-sizing: border-box;
    }

    .payment{
      text-align: center;
    }

    .event_name{
      margin-top: -25px;
      margin-bottom: -20px;
      font-size: 20px;
    }

    .event_container{
      border-bottom: 1px dotted black;
      padding-bottom: 10px;
      padding-bottom: 20px;
      margin-top: 20px;
    }

    .profile_image{
      margin-top: -30px;
      margin-bottom: 10px;
    }
    
  

}
  
  











// #bill_page{
//   height: 650px;

// .background_picture{
//   width: 100%;
//   height: 90%;
//   background-image:url('/assets/images/mikasa.jpg');

//   background-size: cover;
 
 
// }

//   .container {
//   height:60%; 
//   overflow: scroll;
//   }
  
//   .container-landing-page {
//   height:95%; 
//   background-color: #EAE5E5;
//   overflow: scroll;
//   }

  // .logo-banner,
  // .page-title {
  //   display: flex;
    
  //   justify-content: center;
  // }
  


.my_bill_page{
  height:30%;
} 
// .item{

//   display: inline-block;
//   width: 100%;
//   height: 100%;
// }

// .items_users{
//   border: 1px solid black;
//   z-index: 2;
//   height: 100%;
//   padding: 10px;
//   position: relative;
// }

// .user{
//   border:2px solid black;
//   padding: 10px;
//   display: inline-block;
//   margin: 20px;
//   border-radius: 1000px;
// }

#array_of_data{
  display:none;
}

.users_container{
  font-size:10px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

